GROQ_API_KEY=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
GROQ_BASE_URL=https://api.groq.com/openai/v1

WEB_URLS=https://legislatie.just.ro/Public/DetaliiDocument/149533;https://legislatie.just.ro/Public/DetaliiDocument/56625
